body {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  height: 40px !important;
}

.new-todo::placeholder {
  padding: 0 60px !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  pointer-events: all !important;
}

.todo-list li label {
  color: darkblue;
  font-size: 18px;
}

.btn-todo-details {
  font-size: 14px;
  line-height: 1.4em;
  position: absolute;
  background-color: white;
  top: 0;
  right: 50px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  color: #777;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  margin-bottom: 10px;
}

.btn-todo-details:focus {
  background-color: white;
}

.editing {
  overflow: hidden;
}

.header {
  overflow: hidden;
}

.edit {
  padding: 0 !important;
  margin: 0 30px !important;
}

.todo-list li label {
  padding: 15px 100px 15px 60px !important;
}

input[type=text]:not(.browser-default) {
  padding-left: 60px;
}

.card-auth {
  padding: 50px 20px;
  margin: 50px 5px;
}

.card-title {
  margin: 20px 0;
}

.auth-divider {
  position: relative;
  top: 20px;
}

.btn-login {
  width: 100%;
}

@media screen and (device-aspect-ratio: 2/3) {
  .todoapp h1 {
    margin: 50px 0 10px 0 !important;
    font-size: 60px !important;
  }

  .nav-wrapper {
    height: 100px;
  }
  .container-tab {
    display: grid;
    grid-template-rows: 40px;
    grid-template-areas:
            "l"
            "b";
    height: 100%;
  }
  .in-links {
    grid-area: b;
  }
  .brand-log {
    grid-area: l;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .todoapp h1 {
    margin: 50px 0 10px 0 !important;
    font-size: 60px !important;
  }

  .nav-wrapper {
    height: 100px;
  }
  .container-tab {
    display: grid;
    grid-template-rows: 40px;
    grid-template-areas:
            "l"
            "b";
    height: 100%;
  }
  .in-links {
    grid-area: b;
  }
  .brand-log {
    grid-area: l;
  }
}

@media screen and (device-aspect-ratio: 375/667) {
  .todoapp h1 {
    margin: 50px 0 10px 0 !important;
    font-size: 60px !important;
  }

  .nav-wrapper {
    height: 100px;
  }
  .container-tab {
    display: grid;
    grid-template-rows: 40px;
    grid-template-areas:
            "l"
            "b";
    height: 100%;
  }
  .in-links {
    grid-area: b;
  }
  .brand-log {
    grid-area: l;
  }
}

